div:focus {
	outline: 0;
}

.register {

	main{
		width:100%;
		max-width: 400px;
		margin-right: auto;
		margin-left: auto;
		padding-top: 7%;
	}
	h1 {
		text-transform: capitalize;
		margin-bottom: 3rem;
		font-size:2.8rem;
		text-align: center;
	}
	
}

