.home { 
}
.title{
	display: block;
	font-size: 18px;
	padding-bottom: 10px;
	text-transform: capitalize;
}
.author{
	display: block;
	text-transform: capitalize;
}
.item {
	padding: 10px;
	width: 33.3%;
}
.inner {
	border: solid 1px #ccc;
	min-height: 200px;
	padding: 10px;
}
.item-wrapper {
	display: flex;
	flex-flow: wrap;
}