.home { 
	color: red;
}
.mama{
	color: #ccc;
}
.gong{
	background: url('plus.png') no-repeat center center;
	height: 100px;
	width: 100px;
	background-size: cover;
}
.j{
	background: url('j.png');
	height: 100px;
	width: 100px;
	background-size: cover;
}
.come {
	color: #fff;
}
.string{

}
.bong {

}
.d {

}