.header {
	height: 60px;
	position: relative;
	background: #6290FF;
	padding-right: 1rem;
	padding-left: 1rem;
	color: #fff;
	text-align: right;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	a {
		color: #fff;
		text-decoration: none;
		margin-left: 1rem;
	}
}
.user-s {
	display: inline-block;
	height: 100%;
}