
:global{
	html {box-sizing: border-box;}
	*, *:before, *:after {box-sizing: inherit;}
	* {margin: 0;padding: 0;}
	body {font-size: 15px;font-family: 'msu';font-weight: 300;}
	h1,h2,h3,h4,h5,h6 {font-weight: 400}
	h1{font-size: 2.4rem; }
	h2{font-size: 2.2rem; }
	h3{font-size: 2.0rem; }
	h4{font-size: 1.8rem; }
	h5{font-size: 1.6rem; }
	h6{font-size: 1.4rem; }
	a {color: #5DA0E7; cursor: pointer;}
	a:hover{color: #5DA0E7}
	button{border: none; outline: none;background: none; cursor: pointer;}
	html, body, .app, .page {width: 100%;height: 100%; position: relative;}
}

@font-face {
  font-family: 'msu';
  font-style: normal;
  font-weight: 100;
  src: local('msu light'), url(font/MuseoSansRounded-100.woff2) format('woff2');
}
@font-face {
  font-family: 'msu';
  font-style: normal;
  font-weight: 300;
  src: local('msu regular'), url(font/MuseoSansRounded-300.woff2) format('woff2');
}
@font-face {
  font-family: 'msu';
  font-style: normal;
  font-weight: 500;
  src: local('msu semibold'),  url(font/MuseoSansRounded-500.woff2) format('woff2');
}
@font-face {
  font-family: 'msu';
  font-style: normal;
  font-weight: 700;
  src: local('msu bold'), url(font/MuseoSansRounded-700.woff2) format('woff2');
}

/* Mobile Phones */
@media screen and (max-width:360px) {
	
}

/* Mobile Phones */
@media screen and (max-width:480px) {
	
}

/* Mobile Phones */
@media screen and (max-width:640px)  {
	
}

/* Tablets Portrait or Landscape */
@media screen and (max-width:768px) {
	
	
}
/* Tablets Portrait or Landscape */
@media screen and (max-width:1028px) {

}

