.Select {
	display: inline-block;
	vertical-align: middle;
	max-width: 130px;
	min-width: 130px;
	margin-left: 1rem;	

	.Select-control {
		background: #C9CED1;
		height: 20px;
		line-height: 20px;
		border:0;
	}
	.Select-value-label {
		line-height: 20px;
	}
	.Select-multi-value-wrapper{
		line-height: 20px;
	    height: 20px;
	    display: inline-block;
	}
	.Select-value {
		line-height: 20px !important;
		height: 20px;
	}
	.Select-input {
		height: 20px;
		line-height: 20px;
		vertical-align: top;

		input {
			line-height: 20px;
			padding: 0;
		}
	}
	.Select-menu-outer {
		border:0;
		margin: 0;
	}
	
}
.Select-menu{
	border: 0;
	.Select-option {
		background: #C9CED1 !important;
		padding-bottom: 0;
		padding-top: 0;
	}
	.Select-option.is-focused{
		background: #FE8282 !important;
	}
	

}
