.__react_component_tooltip {
	border-radius: 3px;
	display: inline-block;
	font-size: 13px;
	left: -999em;
	opacity: 1 !important;
	padding: 1.5rem !important;
	position: fixed;
	pointer-events: none;
	transition: none !important;
	top: -999em;
	visibility: hidden;
	z-index: 999;

	/* Rectangle 63: */
	background: #fff !important;
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.20) !important;
	color: #515253 !important;
	border:0 !important;
	max-width: 22%;
	&:before,
	&:after {
		display: none;
/* 		content: "";
		width: 0;
		height: 0;
		position: absolute; */
	}
	&.show {
		opacity: 1 !important;
		margin-top: 0px;
		margin-left: 0px;
		visibility: visible;
	}
}

