.title{
	font-size: 18px;
}
.remove-btn {
	cursor: pointer;
	background: #FE346E;
	border-radius: 4px;
	padding: 5px 10px;
	border: 0;
	color: #fff;
}
.author{
	font-size: 16px;
	color: #999;
	margin-bottom: 15px;
}
.item {
	border-bottom: 1px solid #ddd;
	padding: 10px;
	padding-bottom: 15px;

}
.checkout{
	padding: 10px;
	h2 {
		margin-bottom: 20px;
		margin-top: 20px;
	}
}
.cart{
	/* margin-top: 20px;	 */
}